/*
 * Custom Select
 */

.select {

  display: inline-block;
  min-width: 6em;
  cursor: pointer;
  color: hsl(0, 0%, 27%);
  text-align: left;
  text-transform: none;
  vertical-align: middle;
  background: hsl(0, 0%, 100%);

  //prevent user selection
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.select__input {

  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 32px 0 10px;

  .select &:after {
    content: '';
    position: absolute;
    top: 16px;
    right: 10px;
    border-top: 8px solid hsl(0, 0%, 27%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    //transition: transform 0.5s ease;
  }

  .select.is-open &:after {
    transform: rotate(-180deg);
  }

}

.menu {

  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  max-height: 0;
  min-width: 6em;
  background-color: hsl(0, 0%, 100%);
  transition: all ease 0.5s;

  &.is-open {
    max-height: 300px;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
  }

}

.menu__item {

  padding: 10px;
  color: hsl(0, 0%, 33%);
  border-bottom: 1px solid hsl(0, 0%, 87%);
  transition: all ease 0.25s;

  &.is-focused {
    color: hsl(134, 100%, 29%);
    background: hsl(0, 0%, 97%);
  }

  &:last-child {
    border-bottom: 0;
  }

}