/*
 * Custom Select
 */
.selectbox {
  /* Prevent user selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: white;
  position: relative;
  cursor: pointer;
  text-transform: none;
  text-align: left;
  vertical-align: middle;
  display: inline-block; }

.selectbox__selected {
  line-height: 40px;
  padding: 0 30px 0 10px; }
  .selectbox .selectbox__selected:after {
    content: '';
    position: absolute;
    top: 18px;
    right: 15px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #454545; }
  .selectbox.is-open .selectbox__selected:after {
    top: 16px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #454545;
    border-top: 0; }

.menu {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  top: 40px;
  left: 0;
  transition: all ease 0.5s;
  width: 100%;
  background-color: white;
  max-height: 0; }
  .selectbox.is-open .menu {
    max-height: 300px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }

.menu__item {
  border-bottom: 1px solid #dedede;
  color: #545454;
  transition: all ease 0.25s;
  padding: 10px; }
  .menu__item:focus, .menu__item.is-focused {
    background: #f7f7f7;
    color: #009423; }
  .menu__item:last-child {
    border-bottom: 0; }
